[Unit]
Description=Spring PetClinic
After=network.target

[Service]
Type=simple
User={{ user_name }}
Group={{ group_name }}
WorkingDirectory={{ app_home }}

ExecStart=/usr/bin/java -jar /opt/tomcat/spring-petclinic/spring-petclinic.jar --server.port={{ app_port }}

SuccessExitStatus=143
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
